<?xml version="1.0"?>

<launch> 

<arg name="mav_name" default="firefly"/>
<arg name="is_simulated" default="true" />
<arg name="use_sensor" default="false" />


<include file="$(find rci_launch)/launch/gui.launch">
	<arg name="mav_name" value="$(arg mav_name)" />
	<arg name="is_simulated" default="$(arg is_simulated)" />
</include>

<include file="$(find rci_launch)/launch/tree_cavity_detection.launch">
  <arg name="mav_name" default="$(arg mav_name)"/>
	<arg name="is_simulated" default="$(arg is_simulated)" />
	<arg name="use_sensor" default="$(arg use_sensor)" />
</include>

</launch>
